*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: "Helvetica";
}

body{	
	background:black;
	overflow-x: hidden;/*pra tirar a barra lateral */
}

header{
	background: black;
	padding: 12px 0;
	position: fixed;
	top:0;
    left: 0;
    width: 100%;
    height: 70px; 
    z-index: 3;
}

.center{
	max-width: 1480px;
	margin: 0 auto;
	padding: 0 2%;
}
.clear{clear: both;}


/* menu 1 header */
.header-left{
	float: left;
}
.header-left img{
	max-width: 120px;
	margin-top: -10px;
	

}
.menu-header{
	display:inline-block;
	position: relative;
	top:-28px;
	margin-left: 10px;

}
.menu-header li{
	display: inline-block;
	margin-right: 12px;
}
.menu-header a {
	color: white;
	text-decoration: none;
}
/* menu header lado rigth*/
.header-rigth {
	float: right; 
	
	}

.header-right{
	margin-top:-6px;
	float: right;

}

.search,
.notifications{
	display: inline-block;
}

.notifications{
	position: relative;
}

.circle-notifications{
	position: absolute;
	right: 4px;

	top: 5px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: #e50914;
	text-align: center;
	vertical-align: 20px;
}

.circle-notifications span{
	font-size: 12px;
	color: white;
}
.header-right i{
	margin:  15px;
	cursor: pointer;
	color: white;
	font-size: 20px;
	font-weight: bold;
}

/*backgraund*/
section.destaque{
	background-image: url('../img/scarface.png');
	background-position: center;
	background-size: cover;/* cobre toda tela */
	width: 100%;
	height: 800px;
	position: relative;/*pra funcionar a opacidade*/
	overflow-y: hidden;
	overflow-x: hidden; 
display: inline-block;
	z-index: 1;
}
.video-destaque{
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.ouverlay{/*cria uma camada colorida por cima da imagem ou video */
	z-index: 2; /* define em que camada aparecera o item */
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);/*opacidade*/

}
.texto-destaque{
	color: white;
	z-index: 3;
	position: relative;
	margin-top: 250px;
	margin-left: 4%;

}
.texto-destaque h2{
	color: #b10f17;
	font-size: 60px;
	text-transform: uppercase; /*coloca tudo em maiusculo*/
}

.texto-destaque h3{
	margin: 20px 0;
	font-size: 30px;
	
}

.texto-destaque p{
	
	font-size: 23px;
	
}

.texto-destaque a.play{
	background-color: rgba(200,200,200);/*opacidade do botão*/
	color:black;
	text-decoration: none;
	padding: 10px 40px;
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	margin-right: 15px;

}

.texto-destaque a.info:hover{
	background-color: rgba(71, 74, 81, 0.7);

}
.populares{
	font-size: 15px;
	color: white;
	font-weight: bold;
	margin-left: 4%;
	height: 60px;
	width: 100%;
	margin-top: 50px;
	
}
a.info{
	background-color: #6D6D6EB3;
	color:white;
	text-decoration: none;
	padding: 10px 30px;
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	margin-right: 10px;

}



a.play{
	font-color:black;


}


.texto-destaque .play:hover{
	background-color: rgba(189, 190, 189, 0.7);
}




section.vitrine .vitrine-flex{
	width: 96%;
	margin-left:4%;
	position: relative;
	z-index: 5;
}


.vitrine-single-banner{
	width: 100%;
	height: 100%;
	padding-top: calc(16.6% / 2);
	float: left;
	position: relative;
}

.vitrine-wraper{
	position: absolute;
	left:4%;
	top: -190px;
	width: 100%;
	height: 180%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.vitrine-wraper:hover{
	transition: 1s;
	transform:scale(1.2,1.2);
}

.emAlta{
	font-size: 15px;
	color: white;
	font-weight: bold;
height: 100px;
	width: 100%;

	
}


@media screen and (max-width: 768px){
	.menu-header{display: none;}
}